body {
  margin: 0;
  height: 100vh;
  background-color: #008000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 90%;
  height: 90%;
  background-image: url("./images/900w-2fDXWCCXRP0.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  border-radius: 20px;
}